body {
    padding: 10px;
    background-color: #f3f3f3;
    color: #242424;
}

.nav-link {
    color: #242424;
    font-weight: bold;
}

.listing-detail {
    color: #67789d;
}

.listing-detail:hover {
    color: #67789d;
}

li .listing-detail {
    font-size: larger;
}