{% extends "auctions/layout.html" %} 
{% block body %}
<h2>Active Listings</h2>
<div class="row">  
    {% for listing in listings %}
        {% if listing.active is True %}
        <div class="col-lg-6 col-sm-12 d-flex align-items-stretch">
            <div class="card mb-4" style="max-width: 700px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ listing.image }}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="listing-detail" href="{% url 'listing_detail' pk=listing.pk %}">{{ listing.title }}</a>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">Price: {{ listing.price }}</h6>
                            <p class="card-text">{{ listing.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %} 
    
</div>
{% endblock %}